



* {
  font-family: 'Playfair Display SC', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.jumbotron {
    background: url("https://images.pexels.com/photos/65210/beer-a-pint-cup-alcohol-65210.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 200%;}

.title {
  font-size: 90px;
  text-align: center;
  font-family: 'Ultra', serif;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 50px,50px,50px,50px;

}

p > #font-size {
  text-align: center
  font-size: 100%;
  font-family: 'Abril Fatface', cursive;
  top: 50%;
  left: 50%;
  transition: translate (-50%,50%);
}
mark {
  background-color: gold;
}



footer {
    background-color: grey;
}
































/*body {

}

#video {
	background: none;
	background-size: cover;
	height: 100%;

}

#video-bg-video {
	position: fixed;*/
	/*top: 50%;
	left: 50%;
	transform: translate(-50, -50%);*/
/*	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;

}*/

/*#video-overlay {
	background-color:  rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

}
#video-content {

}
*/