

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display SC', serif;
}
.jumbotron {
    background: url("https://images.pexels.com/photos/65210/beer-a-pint-cup-alcohol-65210.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 200%;}
.well {
  line-height:20%;
}

.fa-1x {
  line-height:6%;
  color:#339966;
}



