* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display SC', serif;
}


/*body {
	padding-top: 56px;
}*/

.jumbotron {
    background: url("https://images.pexels.com/photos/65210/beer-a-pint-cup-alcohol-65210.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 200%;}

}
.btn-primary {
    background-color: gold;
    border-color: #c60063;
}

/*section style*/
.btn-secondary {
    background-color: transparent;
    border-color: #c60063;
    color: #c60063;
}

/*section for contact*/
#contact {
    background: url("https://images.pexels.com/photos/1151243/pexels-photo-1151243.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat center center;
    background-size: 100%,100%;
    color: #fff;
}



footer {
    background-color: grey;
}


