* {

  font-family: 'Playfair Display SC', serif;
}


body, html {
    height: 100%;
}


nav {
  background-color: 8B4513;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#text-size {
  font-size: 90px;
  font-family: 'Abril Fatface', cursive;
}



/* Place text in the middle of the image */
.hero-text {
 
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vh;


}


#checkIn-btn {
  background-color: gold;
  text-decoration: none;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;

  
}


@media only screen and (max-width: 400px )  {
 .hero-text {
      position: absolute;
     
 }
}